body {
    margin: 0.5rem;
    color: #586e75;
}

* {
  font-size: 1rem;
}

table, button, h2, input, pre, li, textarea, .task-description {
  margin: 0.5rem;
}

h2 {
  margin-left: 0;
}

pre {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0.2rem;
  margin-left: 0.5rem;
}

pre, textarea, .task-description {
  background-color: #fdf6e3;
  border: solid 1px #93a1a1;
  max-width: 80em;
  min-height: 1em;
  font-family: monospace;
  overflow: auto;
}

table, td, th {
    border: solid 1px #93a1a1;
    border-collapse: collapse;
    background-color: #fdf6e3;
    padding-left: 0.2em;
    padding-right: 0.5em;
    clear: both;
}

a {
  color: inherit;
  font-style: bold;
  text-decoration-line: underline;
}

textarea {
  min-width: 40em;
  min-height: 8em;
}

form h2, form textarea {
  margin-bottom: 0;
}
